@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin:0;
    text-decoration: none;
}

.hero-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./lautaro-andreani-xkBaqlcqeb4-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1{
    font-family: 'Oswald', sans-serif;
    color:#fff;
    font-size: 60px;
}

nav{
    width: 50%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li{
    font-family:'Oswald',sans-serif;
    font-size: 21px;
    color:#fff;
    cursor: pointer;
}

li:hover{
    color: #D870DB;
}

.arrows{
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path{
    stroke:#fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1{
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2{
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3{
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.content-container{
    height: 100vh;
    background-color: #333;
}

.profile-container{
    color:#333;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./aryan-dhiman-iGLLtLINSkw-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-content{
    width:30%;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:350px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}

.profile-image{
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #D870DB
}

.name-text{
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    margin-top: 15px;
}

.profile-text{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: center;
    width:80%;
    margin-top: 10px;
}

.profile-button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #D870DB;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 35px;
    cursor:pointer;
    transition: .5s;
}

.profile-button:hover{
    background-color: #fff;
    color:#D870DB;
}

.divider{
    width:100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}

.icons-container{
    display: flex;
    width:100%;
    justify-content: space-around;
}

.icon-item{
    width: 80px;
    height: auto;
}

.profile-sinopse{
    width:365px;
    height: 68%;
    font-family:'Oswald', sans-serif;
    color: #fff;
    font-size: 17px;
}

.project-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./marten-bjork-rH8O0FHFpfw-unsplash.jpg'); /**efeito paralax**/
    background-attachment: fixed; /**efeito paralax**/
    background-position: center; /**efeito paralax**/
    background-repeat: no-repeat; /**efeito paralax**/
    background-size: cover; /**efeito paralax**/
}

.project-content{
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    row-gap: 10px;
}

.position-container{
    width: 100%;
    display: flex;
}

.right{
    justify-content: flex-end;
}

.left{
    justify-content: flex-start;
}

.project-card{
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.329); /**sombreamento**/
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
    padding: 8px;
}

.card-reverse{
    flex-direction: row-reverse;
} /** reverter a ordem do card**/

.project-image{
    width: 350px;
    height: auto;
    position: relative;
    border-radius: 8px;
}

.project-image-reverse{
    width: 350px;
    height: auto;
    position: relative;
    border-radius: 8px;
}

.project-text{
    color:#fff;
    font-family:'Oswald', sans-serif;
    font-size: 14px;
}

.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('./jess-bailey-q10VITrVYUM-unsplash.jpg'); /**efeito paralax**/
    background-attachment: fixed; /**efeito paralax**/
    background-position: center; /**efeito paralax**/
    background-repeat: no-repeat; /**efeito paralax**/
    background-size: cover; /**efeito paralax**/
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d2bcaf;
    width: 500px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    width: 500px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
}

label{
    display: block;
    font-family: 'Oswald', sans-serif;
    color: #585682;
}

input{
    width: 100%;
    border-radius: 8px;
    border: none;
}

textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 8px;
    border: none;
}

.button-mensagem{
    width: 100%;
    border: none;
    background: white;
    color: #333;
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    color: #585682;
    font-size: 20px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.button-mensagem:hover{
    transform: scale(1.05);
}

.icone-botao{
    height: 25px;
    width: auto;
}

.mensagem-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.mensagem{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #585682;
}

.icone-mensagem{
    height: 50px;
    color: #585682;
}

.contato-container{
    width:100%;
    height: auto;
    background-color: #d2bcaf;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 5px;
    color: #585682;
    text-align: center;
}

.contato-link{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.icone-contato{
    height: 40px;
    width: auto;
}

#links{
    text-align: left;
}

